* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$mainBlack: #222;
$mainGreen: #82b340;
$mainWhite: #fff;
$mainGrey: #ececec;
$mainYellow: #f7f30a;

body {
  background-color: $mainGrey;
  color: $mainGreen;
  font-family: 'Open Sans', sans-serif;
}
